/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

body {
    background-color: hsl(216, 12%, 8%);
    color: hsl(0, 0%, 100%);
    display: grid;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    place-items:  center;
}

button {
    background-color: none;
    border: none;
    cursor: pointer;
    font-family: 'Overpass', sans-serif;
    outline: none;
}

.card__title {
    color: hsl(0, 0%, 100%);
}

.card__description {
    color: hsl(217, 12%, 63%);
}
